<html>
    <head>
        <title>CMPE 131 HW 3</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages%}
        <ul>
            <li>{{message}}</li>
        </ul>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1>Welcome {{name}}!</h1>
        <a href="https://www.google.com/">not google</a>
        <ul>
            {% for city in city_names %}
            <li>{{city}}</li>
            {% endfor %}
        </ul>
        <form action="" method="post" novalidate>
            {{form.hidden_tag()}}
            <p>
                {{form.new_city.label}}<br>
                {{form.new_city(size=32)}}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
    </body>
</html>